.user{
    display: flex;
    justify-content: space-between;
}
.head{
    background-color: rgb(224, 223, 223);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.usericon{
    height: 17px;
    margin-right: 4px;
    mix-blend-mode: multiply;
}
.dots{
    mix-blend-mode: multiply;
}